# Regression Model

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import matplotlib.pyplot as plt
%matplotlib inline

from warnings import filterwarnings
filterwarnings('ignore')

# Loading  dataset

In [2]:
online_ds = pd.read_csv("Online Sales Dataset.zip")

In [3]:
online_ds

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal
...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card

# information dataset

In [4]:
online_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Date              240 non-null    object
 2   Product Category  240 non-null    object
 3   Product Name      240 non-null    object
 4   Units Sold        240 non-null    int64
 5   Unit Price        240 non-null    float64
 6   Total Revenue     240 non-null    float64
 7   Region            240 non-null    object
 8   Payment Method    240 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 17.0+ KB

# chacking null values

In [5]:
online_ds['Transaction ID'].isnull().sum()
online_ds['Product Category'].isnull().sum()
online_ds['Product Name'].isnull().sum()
online_ds['Units Sold'].isnull().sum()
online_ds['Unit Price'].isnull().sum()
online_ds['Total Revenue'].isnull().sum()
online_ds['Region'].isnull().sum()
online_ds['Payment Method'].isnull().sum()

np.int64(0)

# changing datatype

In [6]:
online_ds["Unit Price"] = online_ds["Unit Price"].astype("int64")
online_ds["Total Revenue"] = online_ds["Total Revenue"].astype("int64")

In [7]:
online_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Date              240 non-null    object
 2   Product Category  240 non-null    object
 3   Product Name      240 non-null    object
 4   Units Sold        240 non-null    int64
 5   Unit Price        240 non-null    int64
 6   Total Revenue     240 non-null    int64
 7   Region            240 non-null    object
 8   Payment Method    240 non-null    object
dtypes: int64(4), object(5)
memory usage: 17.0+ KB

In [8]:
online_ds["Date"] = pd.to_datetime(online_ds["Date"])

In [9]:
online_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Date              240 non-null    datetime64[ns]
 2   Product Category  240 non-null    object
 3   Product Name      240 non-null    object
 4   Units Sold        240 non-null    int64
 5   Unit Price        240 non-null    int64
 6   Total Revenue     240 non-null    int64
 7   Region            240 non-null    object
 8   Payment Method    240 non-null    object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 17.0+ KB

# changing date column

In [10]:
online_ds["month"]= online_ds["Date"].dt.month
online_ds["year"]= online_ds["Date"].dt.year
online_ds["dayinmonth"]= online_ds["Date"].dt.day

In [11]:
online_ds

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,month,year,dayinmonth
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999,1999,North America,Credit Card,1,2024,1
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499,499,Europe,PayPal,1,2024,2
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69,209,Asia,Debit Card,1,2024,3
3,10004,2024-01-04,Books,The Da Vinci Code,4,15,63,North America,Credit Card,1,2024,4
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89,89,Europe,PayPal,1,2024,5
...,...,...,...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159,159,Europe,PayPal,8,2024,23
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90,270,Asia,Debit Card,8,2024,24
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10,32,North America,Credit Card,8,2024,25
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55,55,Europe,PayPal,8,2024,26
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29,59,Asia,Credit Card,8,2024,27

In [12]:
online_ds["Payment Method"].unique()

array(['Credit Card', 'PayPal', 'Debit Card'], dtype=object)

# changing data from string to interger

In [13]:
online_ds["Payment Method"][online_ds["Payment Method"] == "Credit Card"] = 1
online_ds["Payment Method"][online_ds["Payment Method"] == "PayPal"] = 2
online_ds["Payment Method"][online_ds["Payment Method"] == "Debit Card"] = 3

In [14]:
online_ds

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,month,year,dayinmonth
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999,1999,North America,1,1,2024,1
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499,499,Europe,2,1,2024,2
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69,209,Asia,3,1,2024,3
3,10004,2024-01-04,Books,The Da Vinci Code,4,15,63,North America,1,1,2024,4
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89,89,Europe,2,1,2024,5
...,...,...,...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159,159,Europe,2,8,2024,23
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90,270,Asia,3,8,2024,24
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10,32,North America,1,8,2024,25
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55,55,Europe,2,8,2024,26
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29,59,Asia,1,8,2024,27

In [15]:
online_ds["Region"].unique()

array(['North America', 'Europe', 'Asia'], dtype=object)

# # changing data from string to interger

In [16]:
online_ds['Region'][online_ds['Region'] == 'North America'] = 1
online_ds['Region'][online_ds['Region'] == 'Europe'] = 2
online_ds['Region'][online_ds['Region'] == 'Asia'] = 3

# drop column in Date

In [17]:
online_ds.drop(["Date"],inplace=True , axis = 1)

In [18]:
online_ds

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,month,year,dayinmonth
0,10001,Electronics,iPhone 14 Pro,2,999,1999,1,1,1,2024,1
1,10002,Home Appliances,Dyson V11 Vacuum,1,499,499,2,2,1,2024,2
2,10003,Clothing,Levi's 501 Jeans,3,69,209,3,3,1,2024,3
3,10004,Books,The Da Vinci Code,4,15,63,1,1,1,2024,4
4,10005,Beauty Products,Neutrogena Skincare Set,1,89,89,2,2,1,2024,5
...,...,...,...,...,...,...,...,...,...,...,...
235,10236,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159,159,2,2,8,2024,23
236,10237,Clothing,Nike Air Force 1 Sneakers,3,90,270,3,3,8,2024,24
237,10238,Books,The Handmaid's Tale by Margaret Atwood,3,10,32,1,1,8,2024,25
238,10239,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55,55,2,2,8,2024,26
239,10240,Sports,Yeti Rambler 20 oz Tumbler,2,29,59,3,1,8,2024,27

In [19]:
online_ds['Product Category'].unique()

array(['Electronics', 'Home Appliances', 'Clothing', 'Books',
       'Beauty Products', 'Sports'], dtype=object)

# # changing data from string to interger

In [20]:
prod_list =['Electronics', 'Home Appliances', 'Clothing', 'Books',
       'Beauty Products', 'Sports']

emd_list = []
for i in range(1,len(prod_list)+1):
    emd_list.append([prod_list[i-1],i])

In [21]:
for i in range(1,len(prod_list)+1):
    online_ds["Product Category"][online_ds["Product Category"]==prod_list[i-1]]=i

In [22]:
emd_list

[['Electronics', 1],
 ['Home Appliances', 2],
 ['Clothing', 3],
 ['Books', 4],
 ['Beauty Products', 5],
 ['Sports', 6]]

In [23]:
online_ds

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,month,year,dayinmonth
0,10001,1,iPhone 14 Pro,2,999,1999,1,1,1,2024,1
1,10002,2,Dyson V11 Vacuum,1,499,499,2,2,1,2024,2
2,10003,3,Levi's 501 Jeans,3,69,209,3,3,1,2024,3
3,10004,4,The Da Vinci Code,4,15,63,1,1,1,2024,4
4,10005,5,Neutrogena Skincare Set,1,89,89,2,2,1,2024,5
...,...,...,...,...,...,...,...,...,...,...,...
235,10236,2,Nespresso Vertuo Next Coffee and Espresso Maker,1,159,159,2,2,8,2024,23
236,10237,3,Nike Air Force 1 Sneakers,3,90,270,3,3,8,2024,24
237,10238,4,The Handmaid's Tale by Margaret Atwood,3,10,32,1,1,8,2024,25
238,10239,5,Sunday Riley Luna Sleeping Night Oil,1,55,55,2,2,8,2024,26
239,10240,6,Yeti Rambler 20 oz Tumbler,2,29,59,3,1,8,2024,27

In [24]:
online_ds['Product Name'].unique()

array(['iPhone 14 Pro', 'Dyson V11 Vacuum', "Levi's 501 Jeans",
       'The Da Vinci Code', 'Neutrogena Skincare Set',
       'Wilson Evolution Basketball', 'MacBook Pro 16-inch',
       'Blueair Classic 480i', 'Nike Air Force 1',
       'Dune by Frank Herbert', 'Chanel No. 5 Perfume',
       'Babolat Pure Drive Tennis Racket', 'Samsung Galaxy Tab S8',
       'Keurig K-Elite Coffee Maker', 'North Face Down Jacket',
       'Salt, Fat, Acid, Heat by Samin Nosrat',
       'Dyson Supersonic Hair Dryer', 'Manduka PRO Yoga Mat',
       'Garmin Forerunner 945', 'Ninja Professional Blender',
       'Zara Summer Dress', 'Gone Girl by Gillian Flynn',
       'Olay Regenerist Face Cream', 'Adidas FIFA World Cup Football',
       'Bose QuietComfort 35 Headphones', 'Panasonic NN-SN966S Microwave',
       'Adidas Ultraboost Shoes', 'Pride and Prejudice by Jane Austen',
       'MAC Ruby Woo Lipstick', 'Nike Air Zoom Pegasus 37',
       'Sony WH-1000XM4 Headphones', 'Instant Pot Duo',
       'Under Armour HeatGear T-Shirt', '1984 by George Orwell',
       "L'Oreal Revitalift Serum", 'Peloton Bike', 'Apple Watch Series 8',
       'Roomba i7+', 'Columbia Fleece Jacket',
       "Harry Potter and the Sorcerer's Stone",
       'Estee Lauder Advanced Night Repair', 'Fitbit Charge 5',
       'GoPro HERO10 Black', 'Nespresso VertuoPlus',
       'Patagonia Better Sweater', 'Becoming by Michelle Obama',
       'Clinique Moisture Surge', 'Yeti Rambler Tumbler',
       'Kindle Paperwhite', 'Breville Smart Oven',
       'Ray-Ban Aviator Sunglasses',
       'The Silent Patient by Alex Michaelides',
       'Shiseido Ultimate Sun Protector', 'Titleist Pro V1 Golf Balls',
       'Anker PowerCore Portable Charger',
       'KitchenAid Artisan Stand Mixer', 'Calvin Klein Boxer Briefs',
       'Educated by Tara Westover', 'Anastasia Beverly Hills Brow Wiz',
       'Hyperice Hypervolt Massager', 'Nintendo Switch',
       'Philips Airfryer XXL', 'Hanes ComfortSoft T-Shirt',
       'Where the Crawdads Sing by Delia Owens',
       'Lancome La Vie Est Belle', 'Garmin Edge 530',
       'Samsung QLED 4K TV', 'Eufy RoboVac 11S',
       'Puma Suede Classic Sneakers',
       'The Great Gatsby by F. Scott Fitzgerald',
       'Drunk Elephant C-Firma Day Serum', 'Nike Metcon 6',
       'HP Spectre x360 Laptop', "De'Longhi Magnifica Espresso Machine",
       'Tommy Hilfiger Polo Shirt', 'To Kill a Mockingbird by Harper Lee',
       'Glossier Boy Brow', 'Rogue Fitness Kettlebell',
       'Apple AirPods Pro', 'Dyson Pure Cool Link',
       "Levi's Trucker Jacket", 'The Hobbit by J.R.R. Tolkien',
       'Charlotte Tilbury Magic Cream', 'Spalding NBA Street Basketball',
       'Ring Video Doorbell', 'LG OLED TV',
       'Uniqlo Ultra Light Down Jacket',
       'The Catcher in the Rye by J.D. Salinger',
       'Sunday Riley Good Genes', 'On Running Cloud Shoes',
       'Logitech MX Master 3 Mouse', 'Instant Pot Duo Crisp',
       'Adidas Originals Superstar Sneakers',
       'The Alchemist by Paulo Coelho', 'Tatcha The Water Cream',
       'Garmin Fenix 6X Pro', 'Bose SoundLink Revolve+ Speaker',
       'Vitamix Explorian Blender', 'Gap Essential Crewneck T-Shirt',
       'The Power of Now by Eckhart Tolle',
       "Kiehl's Midnight Recovery Concentrate",
       'Under Armour HOVR Sonic 4 Shoes', 'Canon EOS R5 Camera',
       'Shark IQ Robot Vacuum', 'H&M Slim Fit Jeans',
       'The Girl on the Train by Paula Hawkins',
       'The Ordinary Niacinamide Serum',
       'Bowflex SelectTech 552 Dumbbells', 'Google Nest Hub Max',
       'Cuisinart Griddler Deluxe', 'Old Navy Relaxed-Fit T-Shirt',
       'Sapiens: A Brief History of Humankind by Yuval Noah Harari',
       'Biore UV Aqua Rich Watery Essence Sunscreen', 'Fitbit Versa 3',
       'Amazon Echo Show 10', 'Breville Smart Grill',
       'Gap High Rise Skinny Jeans', 'Atomic Habits by James Clear',
       'CeraVe Hydrating Facial Cleanser',
       'YETI Hopper Flip Portable Cooler', 'Apple iPad Air',
       'Hamilton Beach FlexBrew Coffee Maker', 'Forever 21 Graphic Tee',
       'The Subtle Art of Not Giving a F*ck by Mark Manson',
       'NARS Radiant Creamy Concealer', 'Yeti Roadie 24 Cooler',
       'Sony PlayStation 5', 'Lululemon Align Leggings',
       'The Four Agreements by Don Miguel Ruiz',
       'Fenty Beauty Killawatt Highlighter',
       'Hydro Flask Wide Mouth Water Bottle',
       'Microsoft Surface Laptop 4', 'Keurig K-Mini Coffee Maker',
       'Gap Crewneck Sweatshirt', 'Think and Grow Rich by Napoleon Hill',
       'The Ordinary Hyaluronic Acid Serum', 'Fitbit Inspire 2',
       'Samsung Odyssey G9 Gaming Monitor', 'Instant Pot Ultra',
       'Adidas Essential Track Pants',
       'The Power of Habit by Charles Duhigg',
       'Clinique Dramatically Different Moisturizing Lotion',
       'YETI Tundra 45 Cooler', 'Apple AirPods Max',
       'Cuisinart Coffee Center', "Levi's Sherpa Trucker Jacket",
       'The Outsiders by S.E. Hinton', 'Laneige Water Sleeping Mask',
       'Bose SoundSport Wireless Earbuds', 'Ninja Foodi Pressure Cooker',
       'Nike Sportswear Club Fleece Hoodie',
       'The Night Circus by Erin Morgenstern',
       'GlamGlow Supermud Clearing Treatment', 'Garmin Forerunner 245',
       'Google Pixel 6 Pro', 'Breville Nespresso Creatista Plus',
       'Under Armour Tech 2.0 T-Shirt', 'The Art of War by Sun Tzu',
       'Youth to the People Superfood Antioxidant Cleanser',
       'TriggerPoint GRID Foam Roller', 'Apple MacBook Air',
       'Cuisinart Custom 14-Cup Food Processor',
       'Adidas 3-Stripes Shorts', 'The Hunger Games by Suzanne Collins',
       'Neutrogena Hydro Boost Water Gel', 'Yeti Rambler Bottle',
       'Samsung Odyssey G7 Gaming Monitor', 'Instant Pot Duo Evo Plus',
       'Nike Tempo Running Shorts',
       'The Girl with the Dragon Tattoo by Stieg Larsson',
       "Paula's Choice Skin Perfecting 2% BHA Liquid Exfoliant",
       'Bowflex SelectTech 1090 Adjustable Dumbbells',
       'Amazon Fire TV Stick 4K', 'Crock-Pot 6-Quart Slow Cooker',
       'Uniqlo Airism Mesh Boxer Briefs',
       'The Sun Also Rises by Ernest Hemingway',
       'First Aid Beauty Ultra Repair Cream',
       'Oakley Holbrook Sunglasses', 'Google Pixelbook Go',
       'Dyson V8 Absolute', "Levi's 511 Slim Fit Jeans",
       'The Martian by Andy Weir', 'La Mer CrÃ¨me de la Mer Moisturizer',
       'Polar Vantage V2', 'Sonos Beam Soundbar',
       'Anova Precision Cooker', 'Nike Dri-FIT Training Shorts',
       'Glossier Cloud Paint',
       'TRX All-in-One Suspension Training System',
       'Logitech G Pro X Wireless Gaming Headset',
       'Breville Smart Coffee Grinder Pro',
       'Adidas Ultraboost Running Shoes', 'The Road by Cormac McCarthy',
       'Tom Ford Black Orchid Perfume', 'GoPro HERO9 Black',
       'Apple TV 4K', 'Instant Pot Duo Nova',
       'Gap 1969 Original Fit Jeans', 'The Goldfinch by Donna Tartt',
       'Dr. Jart+ Cicapair Tiger Grass Color Correcting Treatment',
       'Yeti Tundra Haul Portable Wheeled Cooler',
       'Samsung Galaxy Watch 4', 'KitchenAid Stand Mixer',
       'Lululemon Wunder Under High-Rise Leggings',
       'The Great Alone by Kristin Hannah',
       'Caudalie Vinoperfect Radiance Serum',
       'Bose SoundLink Color Bluetooth Speaker II',
       'Canon EOS Rebel T7i DSLR Camera',
       'Uniqlo Airism Seamless Boxer Briefs',
       "L'Occitane Shea Butter Hand Cream", 'YETI Tundra 65 Cooler',
       'Apple MacBook Pro 16-inch', 'iRobot Braava Jet M6',
       'Champion Reverse Weave Hoodie',
       'The Nightingale by Kristin Hannah', 'Tarte Shape Tape Concealer',
       'Amazon Echo Dot (4th Gen)',
       'Philips Sonicare DiamondClean Toothbrush',
       'Old Navy Mid-Rise Rockstar Super Skinny Jeans',
       'The Ordinary Caffeine Solution 5% + EGCG', 'Fitbit Luxe',
       'Google Nest Wifi Router', 'Anova Precision Oven',
       'Adidas Originals Trefoil Hoodie', 'Fresh Sugar Lip Treatment',
       'Hydro Flask Standard Mouth Water Bottle',
       'Bose QuietComfort 35 II Wireless Headphones',
       'Nespresso Vertuo Next Coffee and Espresso Maker',
       'Nike Air Force 1 Sneakers',
       "The Handmaid's Tale by Margaret Atwood",
       'Sunday Riley Luna Sleeping Night Oil',
       'Yeti Rambler 20 oz Tumbler'], dtype=object)

In [25]:
prod_list = ['iPhone 14 Pro', 'Dyson V11 Vacuum', "Levi's 501 Jeans",
       'The Da Vinci Code', 'Neutrogena Skincare Set',
       'Wilson Evolution Basketball', 'MacBook Pro 16-inch',
       'Blueair Classic 480i', 'Nike Air Force 1',
       'Dune by Frank Herbert', 'Chanel No. 5 Perfume',
       'Babolat Pure Drive Tennis Racket', 'Samsung Galaxy Tab S8',
       'Keurig K-Elite Coffee Maker', 'North Face Down Jacket',
       'Salt, Fat, Acid, Heat by Samin Nosrat',
       'Dyson Supersonic Hair Dryer', 'Manduka PRO Yoga Mat',
       'Garmin Forerunner 945', 'Ninja Professional Blender',
       'Zara Summer Dress', 'Gone Girl by Gillian Flynn',
       'Olay Regenerist Face Cream', 'Adidas FIFA World Cup Football',
       'Bose QuietComfort 35 Headphones', 'Panasonic NN-SN966S Microwave',
       'Adidas Ultraboost Shoes', 'Pride and Prejudice by Jane Austen',
       'MAC Ruby Woo Lipstick', 'Nike Air Zoom Pegasus 37',
       'Sony WH-1000XM4 Headphones', 'Instant Pot Duo',
       'Under Armour HeatGear T-Shirt', '1984 by George Orwell',
       "L'Oreal Revitalift Serum", 'Peloton Bike', 'Apple Watch Series 8',
       'Roomba i7+', 'Columbia Fleece Jacket',
       "Harry Potter and the Sorcerer's Stone",
       'Estee Lauder Advanced Night Repair', 'Fitbit Charge 5',
       'GoPro HERO10 Black', 'Nespresso VertuoPlus',
       'Patagonia Better Sweater', 'Becoming by Michelle Obama',
       'Clinique Moisture Surge', 'Yeti Rambler Tumbler',
       'Kindle Paperwhite', 'Breville Smart Oven',
       'Ray-Ban Aviator Sunglasses',
       'The Silent Patient by Alex Michaelides',
       'Shiseido Ultimate Sun Protector', 'Titleist Pro V1 Golf Balls',
       'Anker PowerCore Portable Charger',
       'KitchenAid Artisan Stand Mixer', 'Calvin Klein Boxer Briefs',
       'Educated by Tara Westover', 'Anastasia Beverly Hills Brow Wiz',
       'Hyperice Hypervolt Massager', 'Nintendo Switch',
       'Philips Airfryer XXL', 'Hanes ComfortSoft T-Shirt',
       'Where the Crawdads Sing by Delia Owens',
       'Lancome La Vie Est Belle', 'Garmin Edge 530',
       'Samsung QLED 4K TV', 'Eufy RoboVac 11S',
       'Puma Suede Classic Sneakers',
       'The Great Gatsby by F. Scott Fitzgerald',
       'Drunk Elephant C-Firma Day Serum', 'Nike Metcon 6',
       'HP Spectre x360 Laptop', "De'Longhi Magnifica Espresso Machine",
       'Tommy Hilfiger Polo Shirt', 'To Kill a Mockingbird by Harper Lee',
       'Glossier Boy Brow', 'Rogue Fitness Kettlebell',
       'Apple AirPods Pro', 'Dyson Pure Cool Link',
       "Levi's Trucker Jacket", 'The Hobbit by J.R.R. Tolkien',
       'Charlotte Tilbury Magic Cream', 'Spalding NBA Street Basketball',
       'Ring Video Doorbell', 'LG OLED TV',
       'Uniqlo Ultra Light Down Jacket',
       'The Catcher in the Rye by J.D. Salinger',
       'Sunday Riley Good Genes', 'On Running Cloud Shoes',
       'Logitech MX Master 3 Mouse', 'Instant Pot Duo Crisp',
       'Adidas Originals Superstar Sneakers',
       'The Alchemist by Paulo Coelho', 'Tatcha The Water Cream',
       'Garmin Fenix 6X Pro', 'Bose SoundLink Revolve+ Speaker',
       'Vitamix Explorian Blender', 'Gap Essential Crewneck T-Shirt',
       'The Power of Now by Eckhart Tolle',
       "Kiehl's Midnight Recovery Concentrate",
       'Under Armour HOVR Sonic 4 Shoes', 'Canon EOS R5 Camera',
       'Shark IQ Robot Vacuum', 'H&M Slim Fit Jeans',
       'The Girl on the Train by Paula Hawkins',
       'The Ordinary Niacinamide Serum',
       'Bowflex SelectTech 552 Dumbbells', 'Google Nest Hub Max',
       'Cuisinart Griddler Deluxe', 'Old Navy Relaxed-Fit T-Shirt',
       'Sapiens: A Brief History of Humankind by Yuval Noah Harari',
       'Biore UV Aqua Rich Watery Essence Sunscreen', 'Fitbit Versa 3',
       'Amazon Echo Show 10', 'Breville Smart Grill',
       'Gap High Rise Skinny Jeans', 'Atomic Habits by James Clear',
       'CeraVe Hydrating Facial Cleanser',
       'YETI Hopper Flip Portable Cooler', 'Apple iPad Air',
       'Hamilton Beach FlexBrew Coffee Maker', 'Forever 21 Graphic Tee',
       'The Subtle Art of Not Giving a F*ck by Mark Manson',
       'NARS Radiant Creamy Concealer', 'Yeti Roadie 24 Cooler',
       'Sony PlayStation 5', 'Lululemon Align Leggings',
       'The Four Agreements by Don Miguel Ruiz',
       'Fenty Beauty Killawatt Highlighter',
       'Hydro Flask Wide Mouth Water Bottle',
       'Microsoft Surface Laptop 4', 'Keurig K-Mini Coffee Maker',
       'Gap Crewneck Sweatshirt', 'Think and Grow Rich by Napoleon Hill',
       'The Ordinary Hyaluronic Acid Serum', 'Fitbit Inspire 2',
       'Samsung Odyssey G9 Gaming Monitor', 'Instant Pot Ultra',
       'Adidas Essential Track Pants',
       'The Power of Habit by Charles Duhigg',
       'Clinique Dramatically Different Moisturizing Lotion',
       'YETI Tundra 45 Cooler', 'Apple AirPods Max',
       'Cuisinart Coffee Center', "Levi's Sherpa Trucker Jacket",
       'The Outsiders by S.E. Hinton', 'Laneige Water Sleeping Mask',
       'Bose SoundSport Wireless Earbuds', 'Ninja Foodi Pressure Cooker',
       'Nike Sportswear Club Fleece Hoodie',
       'The Night Circus by Erin Morgenstern',
       'GlamGlow Supermud Clearing Treatment', 'Garmin Forerunner 245',
       'Google Pixel 6 Pro', 'Breville Nespresso Creatista Plus',
       'Under Armour Tech 2.0 T-Shirt', 'The Art of War by Sun Tzu',
       'Youth to the People Superfood Antioxidant Cleanser',
       'TriggerPoint GRID Foam Roller', 'Apple MacBook Air',
       'Cuisinart Custom 14-Cup Food Processor',
       'Adidas 3-Stripes Shorts', 'The Hunger Games by Suzanne Collins',
       'Neutrogena Hydro Boost Water Gel', 'Yeti Rambler Bottle',
       'Samsung Odyssey G7 Gaming Monitor', 'Instant Pot Duo Evo Plus',
       'Nike Tempo Running Shorts',
       'The Girl with the Dragon Tattoo by Stieg Larsson',
       "Paula's Choice Skin Perfecting 2% BHA Liquid Exfoliant",
       'Bowflex SelectTech 1090 Adjustable Dumbbells',
       'Amazon Fire TV Stick 4K', 'Crock-Pot 6-Quart Slow Cooker',
       'Uniqlo Airism Mesh Boxer Briefs',
       'The Sun Also Rises by Ernest Hemingway',
       'First Aid Beauty Ultra Repair Cream',
       'Oakley Holbrook Sunglasses', 'Google Pixelbook Go',
       'Dyson V8 Absolute', "Levi's 511 Slim Fit Jeans",
       'The Martian by Andy Weir', 'La Mer CrÃ¨me de la Mer Moisturizer',
       'Polar Vantage V2', 'Sonos Beam Soundbar',
       'Anova Precision Cooker', 'Nike Dri-FIT Training Shorts',
       'Glossier Cloud Paint',
       'TRX All-in-One Suspension Training System',
       'Logitech G Pro X Wireless Gaming Headset',
       'Breville Smart Coffee Grinder Pro',
       'Adidas Ultraboost Running Shoes', 'The Road by Cormac McCarthy',
       'Tom Ford Black Orchid Perfume', 'GoPro HERO9 Black',
       'Apple TV 4K', 'Instant Pot Duo Nova',
       'Gap 1969 Original Fit Jeans', 'The Goldfinch by Donna Tartt',
       'Dr. Jart+ Cicapair Tiger Grass Color Correcting Treatment',
       'Yeti Tundra Haul Portable Wheeled Cooler',
       'Samsung Galaxy Watch 4', 'KitchenAid Stand Mixer',
       'Lululemon Wunder Under High-Rise Leggings',
       'The Great Alone by Kristin Hannah',
       'Caudalie Vinoperfect Radiance Serum',
       'Bose SoundLink Color Bluetooth Speaker II',
       'Canon EOS Rebel T7i DSLR Camera',
       'Uniqlo Airism Seamless Boxer Briefs',
       "L'Occitane Shea Butter Hand Cream", 'YETI Tundra 65 Cooler',
       'Apple MacBook Pro 16-inch', 'iRobot Braava Jet M6',
       'Champion Reverse Weave Hoodie',
       'The Nightingale by Kristin Hannah', 'Tarte Shape Tape Concealer',
       'Amazon Echo Dot (4th Gen)',
       'Philips Sonicare DiamondClean Toothbrush',
       'Old Navy Mid-Rise Rockstar Super Skinny Jeans',
       'The Ordinary Caffeine Solution 5% + EGCG', 'Fitbit Luxe',
       'Google Nest Wifi Router', 'Anova Precision Oven',
       'Adidas Originals Trefoil Hoodie', 'Fresh Sugar Lip Treatment',
       'Hydro Flask Standard Mouth Water Bottle',
       'Bose QuietComfort 35 II Wireless Headphones',
       'Nespresso Vertuo Next Coffee and Espresso Maker',
       'Nike Air Force 1 Sneakers',
       "The Handmaid's Tale by Margaret Atwood",
       'Sunday Riley Luna Sleeping Night Oil',
       'Yeti Rambler 20 oz Tumbler']

# # changing data from string to interger

In [26]:
emd_list = []
for i in range(1,len(prod_list)+1):
    emd_list.append([prod_list[i-1],i])

In [27]:
for i in range(1,len(prod_list)+1):
    online_ds["Product Name"][online_ds["Product Name"]==prod_list[i-1]]=i

In [28]:
emd_list

[['iPhone 14 Pro', 1],
 ['Dyson V11 Vacuum', 2],
 ["Levi's 501 Jeans", 3],
 ['The Da Vinci Code', 4],
 ['Neutrogena Skincare Set', 5],
 ['Wilson Evolution Basketball', 6],
 ['MacBook Pro 16-inch', 7],
 ['Blueair Classic 480i', 8],
 ['Nike Air Force 1', 9],
 ['Dune by Frank Herbert', 10],
 ['Chanel No. 5 Perfume', 11],
 ['Babolat Pure Drive Tennis Racket', 12],
 ['Samsung Galaxy Tab S8', 13],
 ['Keurig K-Elite Coffee Maker', 14],
 ['North Face Down Jacket', 15],
 ['Salt, Fat, Acid, Heat by Samin Nosrat', 16],
 ['Dyson Supersonic Hair Dryer', 17],
 ['Manduka PRO Yoga Mat', 18],
 ['Garmin Forerunner 945', 19],
 ['Ninja Professional Blender', 20],
 ['Zara Summer Dress', 21],
 ['Gone Girl by Gillian Flynn', 22],
 ['Olay Regenerist Face Cream', 23],
 ['Adidas FIFA World Cup Football', 24],
 ['Bose QuietComfort 35 Headphones', 25],
 ['Panasonic NN-SN966S Microwave', 26],
 ['Adidas Ultraboost Shoes', 27],
 ['Pride and Prejudice by Jane Austen', 28],
 ['MAC Ruby Woo Lipstick', 29],
 ['Nike Air Zoom Pegasus 37', 30],
 ['Sony WH-1000XM4 Headphones', 31],
 ['Instant Pot Duo', 32],
 ['Under Armour HeatGear T-Shirt', 33],
 ['1984 by George Orwell', 34],
 ["L'Oreal Revitalift Serum", 35],
 ['Peloton Bike', 36],
 ['Apple Watch Series 8', 37],
 ['Roomba i7+', 38],
 ['Columbia Fleece Jacket', 39],
 ["Harry Potter and the Sorcerer's Stone", 40],
 ['Estee Lauder Advanced Night Repair', 41],
 ['Fitbit Charge 5', 42],
 ['GoPro HERO10 Black', 43],
 ['Nespresso VertuoPlus', 44],
 ['Patagonia Better Sweater', 45],
 ['Becoming by Michelle Obama', 46],
 ['Clinique Moisture Surge', 47],
 ['Yeti Rambler Tumbler', 48],
 ['Kindle Paperwhite', 49],
 ['Breville Smart Oven', 50],
 ['Ray-Ban Aviator Sunglasses', 51],
 ['The Silent Patient by Alex Michaelides', 52],
 ['Shiseido Ultimate Sun Protector', 53],
 ['Titleist Pro V1 Golf Balls', 54],
 ['Anker PowerCore Portable Charger', 55],
 ['KitchenAid Artisan Stand Mixer', 56],
 ['Calvin Klein Boxer Briefs', 57],
 ['Educated by Tara Westover', 58],
 ['Anastasia Beverly Hills Brow Wiz', 59],
 ['Hyperice Hypervolt Massager', 60],
 ['Nintendo Switch', 61],
 ['Philips Airfryer XXL', 62],
 ['Hanes ComfortSoft T-Shirt', 63],
 ['Where the Crawdads Sing by Delia Owens', 64],
 ['Lancome La Vie Est Belle', 65],
 ['Garmin Edge 530', 66],
 ['Samsung QLED 4K TV', 67],
 ['Eufy RoboVac 11S', 68],
 ['Puma Suede Classic Sneakers', 69],
 ['The Great Gatsby by F. Scott Fitzgerald', 70],
 ['Drunk Elephant C-Firma Day Serum', 71],
 ['Nike Metcon 6', 72],
 ['HP Spectre x360 Laptop', 73],
 ["De'Longhi Magnifica Espresso Machine", 74],
 ['Tommy Hilfiger Polo Shirt', 75],
 ['To Kill a Mockingbird by Harper Lee', 76],
 ['Glossier Boy Brow', 77],
 ['Rogue Fitness Kettlebell', 78],
 ['Apple AirPods Pro', 79],
 ['Dyson Pure Cool Link', 80],
 ["Levi's Trucker Jacket", 81],
 ['The Hobbit by J.R.R. Tolkien', 82],
 ['Charlotte Tilbury Magic Cream', 83],
 ['Spalding NBA Street Basketball', 84],
 ['Ring Video Doorbell', 85],
 ['LG OLED TV', 86],
 ['Uniqlo Ultra Light Down Jacket', 87],
 ['The Catcher in the Rye by J.D. Salinger', 88],
 ['Sunday Riley Good Genes', 89],
 ['On Running Cloud Shoes', 90],
 ['Logitech MX Master 3 Mouse', 91],
 ['Instant Pot Duo Crisp', 92],
 ['Adidas Originals Superstar Sneakers', 93],
 ['The Alchemist by Paulo Coelho', 94],
 ['Tatcha The Water Cream', 95],
 ['Garmin Fenix 6X Pro', 96],
 ['Bose SoundLink Revolve+ Speaker', 97],
 ['Vitamix Explorian Blender', 98],
 ['Gap Essential Crewneck T-Shirt', 99],
 ['The Power of Now by Eckhart Tolle', 100],
 ["Kiehl's Midnight Recovery Concentrate", 101],
 ['Under Armour HOVR Sonic 4 Shoes', 102],
 ['Canon EOS R5 Camera', 103],
 ['Shark IQ Robot Vacuum', 104],
 ['H&M Slim Fit Jeans', 105],
 ['The Girl on the Train by Paula Hawkins', 106],
 ['The Ordinary Niacinamide Serum', 107],
 ['Bowflex SelectTech 552 Dumbbells', 108],
 ['Google Nest Hub Max', 109],
 ['Cuisinart Griddler Deluxe', 110],
 ['Old Navy Relaxed-Fit T-Shirt', 111],
 ['Sapiens: A Brief History of Humankind by Yuval Noah Harari', 112],
 ['Biore UV Aqua Rich Watery Essence Sunscreen', 113],
 ['Fitbit Versa 3', 114],
 ['Amazon Echo Show 10', 115],
 ['Breville Smart Grill', 116],
 ['Gap High Rise Skinny Jeans', 117],
 ['Atomic Habits by James Clear', 118],
 ['CeraVe Hydrating Facial Cleanser', 119],
 ['YETI Hopper Flip Portable Cooler', 120],
 ['Apple iPad Air', 121],
 ['Hamilton Beach FlexBrew Coffee Maker', 122],
 ['Forever 21 Graphic Tee', 123],
 ['The Subtle Art of Not Giving a F*ck by Mark Manson', 124],
 ['NARS Radiant Creamy Concealer', 125],
 ['Yeti Roadie 24 Cooler', 126],
 ['Sony PlayStation 5', 127],
 ['Lululemon Align Leggings', 128],
 ['The Four Agreements by Don Miguel Ruiz', 129],
 ['Fenty Beauty Killawatt Highlighter', 130],
 ['Hydro Flask Wide Mouth Water Bottle', 131],
 ['Microsoft Surface Laptop 4', 132],
 ['Keurig K-Mini Coffee Maker', 133],
 ['Gap Crewneck Sweatshirt', 134],
 ['Think and Grow Rich by Napoleon Hill', 135],
 ['The Ordinary Hyaluronic Acid Serum', 136],
 ['Fitbit Inspire 2', 137],
 ['Samsung Odyssey G9 Gaming Monitor', 138],
 ['Instant Pot Ultra', 139],
 ['Adidas Essential Track Pants', 140],
 ['The Power of Habit by Charles Duhigg', 141],
 ['Clinique Dramatically Different Moisturizing Lotion', 142],
 ['YETI Tundra 45 Cooler', 143],
 ['Apple AirPods Max', 144],
 ['Cuisinart Coffee Center', 145],
 ["Levi's Sherpa Trucker Jacket", 146],
 ['The Outsiders by S.E. Hinton', 147],
 ['Laneige Water Sleeping Mask', 148],
 ['Bose SoundSport Wireless Earbuds', 149],
 ['Ninja Foodi Pressure Cooker', 150],
 ['Nike Sportswear Club Fleece Hoodie', 151],
 ['The Night Circus by Erin Morgenstern', 152],
 ['GlamGlow Supermud Clearing Treatment', 153],
 ['Garmin Forerunner 245', 154],
 ['Google Pixel 6 Pro', 155],
 ['Breville Nespresso Creatista Plus', 156],
 ['Under Armour Tech 2.0 T-Shirt', 157],
 ['The Art of War by Sun Tzu', 158],
 ['Youth to the People Superfood Antioxidant Cleanser', 159],
 ['TriggerPoint GRID Foam Roller', 160],
 ['Apple MacBook Air', 161],
 ['Cuisinart Custom 14-Cup Food Processor', 162],
 ['Adidas 3-Stripes Shorts', 163],
 ['The Hunger Games by Suzanne Collins', 164],
 ['Neutrogena Hydro Boost Water Gel', 165],
 ['Yeti Rambler Bottle', 166],
 ['Samsung Odyssey G7 Gaming Monitor', 167],
 ['Instant Pot Duo Evo Plus', 168],
 ['Nike Tempo Running Shorts', 169],
 ['The Girl with the Dragon Tattoo by Stieg Larsson', 170],
 ["Paula's Choice Skin Perfecting 2% BHA Liquid Exfoliant", 171],
 ['Bowflex SelectTech 1090 Adjustable Dumbbells', 172],
 ['Amazon Fire TV Stick 4K', 173],
 ['Crock-Pot 6-Quart Slow Cooker', 174],
 ['Uniqlo Airism Mesh Boxer Briefs', 175],
 ['The Sun Also Rises by Ernest Hemingway', 176],
 ['First Aid Beauty Ultra Repair Cream', 177],
 ['Oakley Holbrook Sunglasses', 178],
 ['Google Pixelbook Go', 179],
 ['Dyson V8 Absolute', 180],
 ["Levi's 511 Slim Fit Jeans", 181],
 ['The Martian by Andy Weir', 182],
 ['La Mer CrÃ¨me de la Mer Moisturizer', 183],
 ['Polar Vantage V2', 184],
 ['Sonos Beam Soundbar', 185],
 ['Anova Precision Cooker', 186],
 ['Nike Dri-FIT Training Shorts', 187],
 ['Glossier Cloud Paint', 188],
 ['TRX All-in-One Suspension Training System', 189],
 ['Logitech G Pro X Wireless Gaming Headset', 190],
 ['Breville Smart Coffee Grinder Pro', 191],
 ['Adidas Ultraboost Running Shoes', 192],
 ['The Road by Cormac McCarthy', 193],
 ['Tom Ford Black Orchid Perfume', 194],
 ['GoPro HERO9 Black', 195],
 ['Apple TV 4K', 196],
 ['Instant Pot Duo Nova', 197],
 ['Gap 1969 Original Fit Jeans', 198],
 ['The Goldfinch by Donna Tartt', 199],
 ['Dr. Jart+ Cicapair Tiger Grass Color Correcting Treatment', 200],
 ['Yeti Tundra Haul Portable Wheeled Cooler', 201],
 ['Samsung Galaxy Watch 4', 202],
 ['KitchenAid Stand Mixer', 203],
 ['Lululemon Wunder Under High-Rise Leggings', 204],
 ['The Great Alone by Kristin Hannah', 205],
 ['Caudalie Vinoperfect Radiance Serum', 206],
 ['Bose SoundLink Color Bluetooth Speaker II', 207],
 ['Canon EOS Rebel T7i DSLR Camera', 208],
 ['Uniqlo Airism Seamless Boxer Briefs', 209],
 ["L'Occitane Shea Butter Hand Cream", 210],
 ['YETI Tundra 65 Cooler', 211],
 ['Apple MacBook Pro 16-inch', 212],
 ['iRobot Braava Jet M6', 213],
 ['Champion Reverse Weave Hoodie', 214],
 ['The Nightingale by Kristin Hannah', 215],
 ['Tarte Shape Tape Concealer', 216],
 ['Amazon Echo Dot (4th Gen)', 217],
 ['Philips Sonicare DiamondClean Toothbrush', 218],
 ['Old Navy Mid-Rise Rockstar Super Skinny Jeans', 219],
 ['The Ordinary Caffeine Solution 5% + EGCG', 220],
 ['Fitbit Luxe', 221],
 ['Google Nest Wifi Router', 222],
 ['Anova Precision Oven', 223],
 ['Adidas Originals Trefoil Hoodie', 224],
 ['Fresh Sugar Lip Treatment', 225],
 ['Hydro Flask Standard Mouth Water Bottle', 226],
 ['Bose QuietComfort 35 II Wireless Headphones', 227],
 ['Nespresso Vertuo Next Coffee and Espresso Maker', 228],
 ['Nike Air Force 1 Sneakers', 229],
 ["The Handmaid's Tale by Margaret Atwood", 230],
 ['Sunday Riley Luna Sleeping Night Oil', 231],
 ['Yeti Rambler 20 oz Tumbler', 232]]

In [29]:
%pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\vivek\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\vivek\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\vivek\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\vivek\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\vivek\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

# models

In [30]:
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder()
onehot.fit_transform(emd_list)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 464 stored elements and shape (232, 464)>

In [31]:
online_ds

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,month,year,dayinmonth
0,10001,1,1,2,999,1999,1,1,1,2024,1
1,10002,2,2,1,499,499,2,2,1,2024,2
2,10003,3,3,3,69,209,3,3,1,2024,3
3,10004,4,4,4,15,63,1,1,1,2024,4
4,10005,5,5,1,89,89,2,2,1,2024,5
...,...,...,...,...,...,...,...,...,...,...,...
235,10236,2,228,1,159,159,2,2,8,2024,23
236,10237,3,229,3,90,270,3,3,8,2024,24
237,10238,4,230,3,10,32,1,1,8,2024,25
238,10239,5,231,1,55,55,2,2,8,2024,26
239,10240,6,232,2,29,59,3,1,8,2024,27

In [32]:
online_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Product Category  240 non-null    object
 2   Product Name      240 non-null    object
 3   Units Sold        240 non-null    int64
 4   Unit Price        240 non-null    int64
 5   Total Revenue     240 non-null    int64
 6   Region            240 non-null    object
 7   Payment Method    240 non-null    object
 8   month             240 non-null    int32
 9   year              240 non-null    int32
 10  dayinmonth        240 non-null    int32
dtypes: int32(3), int64(4), object(4)
memory usage: 17.9+ KB

# shape dataset

In [33]:
online_ds.shape

(240, 11)

In [34]:
X = online_ds.drop(["Total Revenue"],axis=1)
Y = online_ds["Total Revenue"]

In [35]:
X

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Region,Payment Method,month,year,dayinmonth
0,10001,1,1,2,999,1,1,1,2024,1
1,10002,2,2,1,499,2,2,1,2024,2
2,10003,3,3,3,69,3,3,1,2024,3
3,10004,4,4,4,15,1,1,1,2024,4
4,10005,5,5,1,89,2,2,1,2024,5
...,...,...,...,...,...,...,...,...,...,...
235,10236,2,228,1,159,2,2,8,2024,23
236,10237,3,229,3,90,3,3,8,2024,24
237,10238,4,230,3,10,1,1,8,2024,25
238,10239,5,231,1,55,2,2,8,2024,26
239,10240,6,232,2,29,3,1,8,2024,27

# this model are selection

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y ,test_size = 0.3, random_state=43)

In [37]:
X_train

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Region,Payment Method,month,year,dayinmonth
56,10057,3,57,5,29,3,3,2,2024,26
45,10046,4,46,4,32,1,1,2,2024,15
210,10211,1,208,1,749,1,1,7,2024,29
101,10102,6,102,2,109,3,1,4,2024,11
223,10224,2,218,2,229,2,2,8,2024,11
...,...,...,...,...,...,...,...,...,...,...
58,10059,5,59,2,23,2,2,2,2024,28
21,10022,4,22,2,22,1,1,1,2024,22
49,10050,2,50,1,299,2,2,2,2024,19
64,10065,5,65,1,102,2,2,3,2024,5
68,10069,3,69,4,59,3,3,3,2024,9

In [38]:
X_test

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Region,Payment Method,month,year,dayinmonth
150,10151,1,31,1,349,1,1,5,2024,30
82,10083,5,83,1,100,2,2,3,2024,23
142,10143,5,142,1,29,2,2,5,2024,22
174,10175,1,173,3,49,1,1,6,2024,23
200,10201,3,198,3,59,3,3,7,2024,19
...,...,...,...,...,...,...,...,...,...,...
1,10002,2,2,1,499,2,2,1,2024,2
116,10117,3,117,3,49,3,3,4,2024,26
98,10099,3,99,6,19,3,3,4,2024,8
124,10125,5,125,1,30,2,2,5,2024,4
172,10173,5,171,1,29,2,2,6,2024,21

In [39]:
Y_train

56     149
45     130
210    749
101    219
223    459
      ...
58      46
21      45
49     299
64     102
68     239
Name: Total Revenue, Length: 168, dtype: int64

In [40]:
Y_test

150    349
82     100
142     29
174    149
200    179
      ...
1      499
116    149
98     119
124     30
172     29
Name: Total Revenue, Length: 72, dtype: int64

# loading models

In [41]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.pipeline import make_pipeline
pipe = make_pipeline(StandardScaler(),RandomForestRegressor(random_state=43))
# RDMReg = RandomForestRegressor()
# RDMReg.fit(X_train,Y_train)
pipe.fit(X_train,Y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor',
                 RandomForestRegressor(random_state=43))])

In [42]:
# pred = RDMReg.predict(X_test)
pred= pipe.predict(X_test)

In [43]:
from sklearn.metrics import mean_squared_error

In [44]:
mean_squared_error(Y_test,pred)

12318.04080694444

In [45]:
%pip install joblib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: joblib in c:\users\vivek\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [46]:
from joblib import dump,load

In [47]:
dump(pipe,"online_ds.pkl")

['online_ds.pkl']

In [48]:
model = load("Sale.pkl")

In [49]:
online_ds

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,month,year,dayinmonth
0,10001,1,1,2,999,1999,1,1,1,2024,1
1,10002,2,2,1,499,499,2,2,1,2024,2
2,10003,3,3,3,69,209,3,3,1,2024,3
3,10004,4,4,4,15,63,1,1,1,2024,4
4,10005,5,5,1,89,89,2,2,1,2024,5
...,...,...,...,...,...,...,...,...,...,...,...
235,10236,2,228,1,159,159,2,2,8,2024,23
236,10237,3,229,3,90,270,3,3,8,2024,24
237,10238,4,230,3,10,32,1,1,8,2024,25
238,10239,5,231,1,55,55,2,2,8,2024,26
239,10240,6,232,2,29,59,3,1,8,2024,27

In [50]:
newData = pd.DataFrame({
    "Transation ID":[1000],
	"Product Category":[2],
    "Product Name":[2],
    "Units Sold":[1],
    "Unit Price":[69],
    "Total Revenue":[1999],
    "Region":[1],
    "Payment Method":[2],
	"month":[1],
	"year":[2024],
	"dayinmonth":[6]
})

In [51]:
model.predict(newData)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Payment Method
- Product Category
- Product Name
- Region
- Total Revenue
- ...
Feature names seen at fit time, yet now missing:
- category
- price
- product
- quantity